body {
	margin: 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 1em;
	color: white;
	text-align: center;
	background-color: rgba(254, 255, 149);
}

#wrapper {
	width: 25%;
	margin: 90px auto 0 auto;
	padding: 0 1em 1em 1em;
	border-radius: 0.2em;
	background-color: rgb(117, 51, 178);
	box-sizing: border-box;
}

#main, #timeSet {
	border-radius: 0.2em;
	background-color: rgb(189, 123, 255);
	box-sizing: border-box;
	margin-top: 0.7em;
}

#timeset {

}

h1, h2, h3, h4 {
	margin: 0;
	line-height: 1em;
	/*box-sizing: border-box;*/
}

h1 {
	color: white;
	padding-top: 0.5em;
}

h2 {
	font-size: 2em;
	padding: 0.3em;
}

h3 {
	font-size: 1.5em;
	padding: 0.3em;
}

h4 {
	font-size: 1em;
	padding: 0.5em;
	/*margin-bottom: 5%;*/
}

button {
	width: 20%;
	margin: 3%;
}

.timeSetControls > button {
	width: 3em;
	margin: 8% 1% 3% 1%;
}

.timeSettings {
	margin: 0 3% 3% 3%;
	display: inline-block;
	width: 40%;
	/*position: relative;*/
}

#reset {
	padding-bottom: 3%;
	display: block;
	color: white;
	text-decoration: underline dotted;
}

